/* reset.css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}

/* dev */
.hidden{
	display:none;
}

.fl{
	float:left;
}

body{
	background:#000;
}

.canvas{
	position:absolute
}

.main{
	width:720px;
	margin:0 auto;
	background-color:#291C58;
	position:relative;
}

.moon{
	width:414px;
	height:402px;
	background:url(../pic/moon.png);
	font-weight: bold;
	margin: 0 auto;
	position:relative;
}

.moon p{
	width: 300px;
	color:#FFDD1D;
	font-size: 72px;
	padding-top: 120px;
	padding-left: 60px;
}


.content{
	color:#FFF;
	margin:0 auto 30px;
	width:500px;
	font-size:32px;
	line-height:40px;
}

.start-btn{
	width:530px;
	height:102px;
	text-align:center;
	line-height:100px;
	color:#FFF;
	font-size:40px;
	font-weight:bold;
	margin:0 auto;
	cursor:pointer;
	background-color:#FF2400;
	border-radius:50px;
}

.bottom{
	width:667px;
	height:260px;
	margin:30px auto 0;
	background:url(../pic/mooncake.png);
}

.popup{
	width:20px;
	height:20px;
	position:fixed;
	top:0;
	left:0;
	background-color:#f84d00;
	border-radius:70px;
}

.popup .bgpic{
	width:494px;
	height:432px;
	background:url(../pic/li.png);
	margin:0 auto;
	margin-top:25px;
}

.popup p{
	color:#FFF;
	font-size:30px;
	line-height:30px;
	width:440px;
	margin:30px auto 30px;
}

.popup .btn-line{
	width:540px;
	margin:0 auto;
	overflow:hidden;
	margin:0 atuo;
}

.popup .close-btn{
	width:80px;
	height:80px;
	background:url(../pic/closebtn.png);
	position: absolute;
	right: -10px;
	top: -20px;
	cursor:pointer;
}
.popup .close-btn:hover{
	-webkit-transform:rotate(330deg);
	-moz-transform:rotate(330deg);
	-o-transform:rotate(330deg);
	-ms-transform:rotate(330deg);
	transform:rotate(330deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.popup .mr{
	margin-right: 30px;
}

.popup .btn-line .btn{
	width:250px;
	height:102px;
	font-size:36px;
	text-align:center;
	color:#FFF;
	line-height:102px;
	background-color:#FFB700;
	border-radius:40px;
	cursor:pointer;
}